*,
*:after,
*:before{
	box-sizing: border-box;
}
body{
	margin: 0 auto;
	background: #1a1a1a;
	width: 80%;
	display: flex; 
	flex-flow: row wrap ;
	
}
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.topmenu{
	width: 100%;
	height: 100px;
	text-align: center;

	background: #7b4397; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #7b4397 , #dc2430); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #7b4397 , #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.topmenu a{

	
	
	width: 100px;
	
	
}
.staersti{
	color: lightblue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2.2em;
	margin-top: 40px;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}
.aside{
	padding: 5px;
    display: flex;
    flex-flow: row wrap;
	width: 100%;
	height: 400px;
	border: 2px solid white;  

}
.container{
	display: flex;
	flex-flow: column;
 border: 2px solid yellow;  
	width: 70%;
}
.inside{
	padding: 5px;
/*	border: 1px solid green;  */
	width: 30%;
	height: 100%;
	color: lightblue;

}
.insideright{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 30%;
	justify-content: center;
	/*border: 1px solid green;*/
}

.span{
	color: lightblue;
	
	
}


.required{
    color:red;
    font-weight:normal;
}
footer{
	height: 200px;
	border-style: solid;
	border-color: green;
	width: 100%;
}
@media screen and (max-width: 32em)
{
	 .staersti{
    	font-size: 1.2em;
    }
    .aside{
        flex-direction: column;
        height: 400px;

    }

    .inside{
    	width: 100%;
    	height: 50%;
    }
    .container{
    	width: 100%;
    	height: 50%;
    }
    .span{
    	font-size: 1em;
    }
  

}

